{% extends "base_generic.html" %}

{% block content %}
    <h1>Create Recipe</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <div id="ingredients">
            <div class="ingredient">
                <select name="ingredient_1">
                    {% for ingredient in ingredients %}
                        <option value="{{ ingredient.id }}">{{ ingredient.name }}</option>
                    {% endfor %}
                </select>
                <input type="text" name="quantity_1" placeholder="Quantity" required>
            </div>
        </div>
        <input type="hidden" name="ingredient_count" id="ingredient-count" value="1">
        <button type="button" id="add-ingredient">Add Ingredient</button>
        <button type="submit">Publish</button>
    </form>

    <script>
        $('select').select2({
            tags: true
        });
        var ingredientCount = 1;

        $('#add-ingredient').click(function () {
            ingredientCount++;
            $('#ingredient-count').val(ingredientCount);
            var newIngredient = `
            <div class="ingredient">
                <select name="ingredient_${ingredientCount}">
                    {% for ingredient in ingredients %}
                        <option value="{{ ingredient.id }}">{{ ingredient.name }}</option>
                    {% endfor %}
                </select>
                <input type="text" name="quantity_${ingredientCount}" placeholder="Quantity" required>
            </div>
        `;
            $('#ingredients').append(newIngredient);
        });
    </script>
{% endblock %}